# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.vs/
*.vscode/

# Publish outputs
publish/
*.zip

# Configs with secrets
appsettings.json
appsettings.*.json

# Logs
*.log

# Rider, ReSharper
.idea/
*.sln.iml

# NuGet packages
*.nupkg
packages/
